<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SceneKit-19ELSL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>839FEE911F2F19B7009DBC90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>839FEEAA1F2F19B7009DBC90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>839FEEB51F2F19B7009DBC90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
